
.ranges{
    min-height: 35vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}

.ranges input[type="range"]{
    display: block;
    width: 100%;
    position: relative;
    margin-top: 5px;
}
.result{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.result img{
    display: block;
    max-height: 45vmin;
    margin: auto;
}

.result label{
    margin: 0 auto;
}
